# Node
node_modules

# Output
.output
.vercel
/.svelte-kit
/dist
/build

# OS
.DS_Store
Thumbs.db

# Env
.env

# Yarn v4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
